#read
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#read #showPost{
    height: 100%;
    width: 70%;
    background-color: rgb(146, 184, 169);
}
